---
import Layout from '../layouts/Layout.astro';
import Fetch from '../components/molecules/data/Fetch.astro';
---

<Layout title="Welcome to the Astro Demo.">
	<main>
		<h1>Welcome tothe <span class="text-gradient">Astro demo</span></h1>
		<p>
			Let's go!!!
		</p>
		<Fetch/>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 1200px;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
</style>
